# application.yml
spring:
  application:
    name: reporting-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/reporting_db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: reporting-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#  data:
#    redis:
#      host: localhost
#      port: 6379

server:
  port: 8083

# gRPC Configuration
#grpc:
#  server:
#    port: 9083
#  client:
#    ai-service:
#      address: static://localhost:9085
#      negotiation-type: plaintext
#    user-service:
#      address: static://localhost:9081
#      negotiation-type: plaintext

# Monitoring
#management:
#  endpoints:
#    web:
#      exposure:
#        include: health,info,metrics,prometheus
#  prometheus:
#    metrics:
#      export:
#        enabled: true